{% extends 'layout.html' %}
{% block content %}
<div class="container p-5">
	<h1 class="display-1">Producer Register</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<fieldset>
			<div class="form-group">
				{{ form.name.label(class="form-control-label") }}
				{{ form.name(class="form-control form-control-lg") }}
			</div>
			<br>
			<div class="form-group">
				{{ form.username.label(class="form-control-label") }}
				{{ form.username(class="form-control form-control-lg") }}
			</div>
			<br>
			<div class="form-group">
				{{ form.password.label(class="form-control-label") }}
				{{ form.password(class="form-control form-control-lg") }}
			</div>
			<br>
		</fieldset>
		<br>
		<div class="form-group">
			{{ form.submit(class="btn btn-success btn-lg px-5") }}
		</div>
		<br><br>
		<a href="{{url_for('producer.login')}}" class="text-secondary text-decoration-none">Already Have a Producer Account? Log in</a>
	</form>
</div>
{% endblock content %}